.portfolio_about {
    display: flex;
}

.portfolio_about-content {
    display: flex;
    flex-wrap: wrap;
}

.portfolio_about-content>* {
    flex: 1 1 300px;
}

.portfolio_about-content-section {
    font-family: var(--font-family);
    max-width: 350px;
    padding-bottom: 30px;
}

.portfolio_about-content-section h2 {
    font-family: var(--font-family2);
    font-weight: 400;
    font-style: normal;
    font-weight: lighter;
    font-size: 30px;
    list-style: 40px;
    letter-spacing: 0.04rem;
    color: var(--color-text);
}

.portfolio_about-content-section .about_text {
    color: var(--color-subtext);
    font-size: 16px;
    letter-spacing: 0.03rem;
    line-height: 1.5rem;
    margin-right: 10%;
}

.about_time-span {
    font-size: 14px;
    color: var(--color-navbar);
}

.circle_progress_bars {
    display: flex;
    flex-wrap: wrap;
    margin: -20px;
}

.circle_progress_bars>* {
    margin: 20px;
}

.bar {
    width: 85px;
}

.lang_text {
    text-align: center;
    margin-top: 10px;
    line-height: 20px;
    color: var(--color-subtext);
}

.lang_level {
    font-size: 14px;
    color: var(--color-navbar);
}