/* .portfolio_about {
    display: flex;
    flex-direction: row;
    
} */
/* .title {
    flex-direction: row;
    display: flex;
} */

.title h2{
    color: black;
    font-family: var(--font-family);
    margin-bottom: 20px;
    display: flex;
    font-weight: 600;
    font-size: 50px;
    font-style: normal;
    font-weight: bold;
    align-items: center;
}

.portfolio_header-image img {
    width: 280px;
    height: 420px;
    border-width: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-style: solid;
    border-color: #ffffff;
}

.portfolio_about-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.portfolio_about-content>* {
    /* flex: 1 1 300px; */
    flex-direction: row;
}

.portfolio_about-content-section {
    font-family: var(--font-family);
    max-width: 350px;
    padding-bottom: 30px;
}

.portfolio_about-content-section h2 {
    font-family: var(--font-family2);
    font-weight: 400;
    font-style: normal;
    font-weight: lighter;
    font-size: 30px;
    list-style: 40px;
    letter-spacing: 0.04rem;
    color: var(--color-text);
}

.portfolio_about-content-section .about_text {
    color: var(--color-subtext);
    font-size: 16px;
    letter-spacing: 0.03rem;
    line-height: 1.5rem;
    margin-right: 10%;
}

.about_time-span {
    font-size: 14px;
    color: var(--color-navbar);
}

.circle_progress_bars {
    display: flex;
    flex-wrap: wrap;
    margin: -20px;
}

.circle_progress_bars>* {
    margin: 20px;
}

.bar {
    width: 85px;
}

.lang_text {
    text-align: center;
    margin-top: 10px;
    line-height: 20px;
    color: var(--color-subtext);
}

.lang_level {
    font-size: 14px;
    color: var(--color-navbar);
}

@media screen and (max-width: 500px) {
    .portfolio_about-content>* {
        flex: 1 1 100px;
    }

    .portfolio_about-content-section {
        margin-right: 20px;
    }

    .portfolio_about-content-section h2 {
        font-size: 22px;
        line-height: 22px;
        margin-bottom: 10px;
    }

    .portfolio_about-content-section .about_text {
        font-size: 14px;
        line-height: 20px;
    }

    .about_time-span {
        font-size: 12px;
    }

    .bar {
        width: 70px;
    }

    .lang_level {
        font-size: 12px;
    }

    .lang_text {
        font-size: 14px;
        line-height: 17px;
    }

}