.first_background {
    background: #E4CCC7;
    display: flex;
    flex-direction: row;
}

.title_container {
    margin-left: 100px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-top: -150px;
}

.title_project {
    font-size: 20px;
    font-weight: lighter;
    color: var(--color-primary);
}

.pumba_logo {
    margin-top: 20px;
}

.pumba_logo img {
    width: 300px;
}

.pumba_logo p {
    margin-top: 50px;
}

.brand_name {
    font-size: 22px;
    font-weight: bolder;
    width: 300px;
    text-align: center;
}

.pumba_screens {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pumba_screens img {
    width: 300px;
    margin-top: 150px;
}

.my_job {
    padding-left: 100px;
    width: 100%;
    flex-direction: column;
    display: flex;
    background: #E4CCC7;
    margin-top: -50px;
    padding-bottom: 70px;
}

.my_job h2 {
    font-size: 25px;
    font-weight: lighter;
    color: grey;
    text-decoration-line: underline;
}

.my_job p {
    width: 600px;
}

.second_background {
    display: flex;
    flex-direction: column;
}

.challenge_text {
    margin-top: 70px;
    margin-bottom: 50px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.challenge_text h2 {
    font-size: 25px;
    font-weight: lighter;
    color: var(--color-primary);
    text-decoration-line: underline;
}

.challenge_text p {
    width: 750px;
    text-align: center;
}

.colors {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 40px;
}

.rectangle1 {
    width: 90px;
    height: 90px;
    background: #8F71FE;
    border-radius: 10px;
}

.rectangle2 {
    width: 90px;
    height: 90px;
    background: #FED471;
    border-radius: 10px;
}

.rectangle3 {
    width: 90px;
    height: 90px;
    background: #DCD5F3;
    border-radius: 10px;
}

.rectangle4 {
    width: 90px;
    height: 90px;
    background: #473F3F;
    border-radius: 10px;
}

.colors_and_hexas {
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;
}

.colors_and_hexas p {
    margin-top: 20px;
    line-height: 20px;
    letter-spacing: 0.7px;
    color: var(--color-subtext);
}

@media screen and (max-width: 500px) {
    .title_container {
        margin-top: 20px;
        margin-left: 40px;

    }

    .title_project {
        font-size: 14px;
    }

    .pumba_logo img {
        width: 170px;
    }

    .pumba_logo p {
        margin-top: 30px;
        font-size: 14px;
    }

    .brand_name {
        font-size: 14px;
        width: 170px;
    }

    .pumba_screens img {
        width: 140px;
        margin-top: 100px;
    }

    .my_job {
        padding-top: 100px;
        padding-left: 40px;
    }

    .my_job h2 {
        font-size: 22px;
        line-height: 22px;
    }

    .my_job p {
        font-size: 14px;
        width: 90%;
    }

    .challenge_text {
        margin-bottom: 10px;
    }

    .challenge_text h2 {
        font-size: 22px;
        /* justify-content: center;
        align-content: center; */
        text-align: center;
        width: 80%;
        line-height: 25px;
        margin-bottom: 20px;
    }

    .challenge_text p {
        font-size: 14px;
        width: 90%;
    }

    .rectangle1,
    .rectangle2,
    .rectangle3,
    .rectangle4 {
        width: 50px;
        height: 50px;
        border-radius: 5px;
    }

    .colors_and_hexas {
        margin-left: 10px;
        margin-right: 10px;
    }

    .colors_and_hexas p {
        font-size: 14px;
    }
}