.contact {
    display: flex;
    flex: 1;
    justify-content: left;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 50px;
}

.contact h2 {
    font-family: var(--font-family2);
    font-weight: 400;
    font-style: normal;
    font-weight: lighter;
    font-size: 30px;
    list-style: 40px;
    letter-spacing: 0.04rem;
    color: var(--color-text);
}

.contact_btn {
    font-family: var(--font-family);
    font-size: 16px;
    margin-right: 10px;
    color: var(--color-primary);
}

.contact_icon {
    position: relative;
    top: 5px;
}

.portfolio_contact-info {
    margin-bottom: 50px;
}

/* .a {
    margin-right: 20px;
} */