.contact {
    display: flex;
    flex: 1;
    /* justify-content: left;
    align-items: flex-start; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 50px;
}

.contact h2 {
    font-family: var(--font-family2);
    font-weight: 400;
    font-style: normal;
    font-weight: lighter;
    font-size: 30px;
    /* list-style: 40px; */
    letter-spacing: 0.04rem;
    color: var(--color-text);
}

.contact_btn {
    font-family: var(--font-family);
    font-size: 16px;
    margin-right: 10px;
    color: var(--color-primary);
}

.contact_icon {
    position: relative;
    top: 5px;
}

.portfolio_contact-info {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}

p{
    margin-bottom: 10px;
    margin-top: 20px;
    color: grey;
    margin-bottom: 50px;
    text-align: center;
}

/* .a {
    margin-right: 20px;
} */

@media screen and (max-width: 700px) {
    .contact h2 {
        font-size: 22px;
        line-height: 22px;
    }

    .contact h4 {
        font-size: 14px;
        margin-top: 10px;
    }

    .contact_btn {
        font-size: 14px;
    }

    
}